.error {
  margin-top: 0;
  font-size: 0.75rem;
  color: crimson;
}
.input-container {
  width: 100%;

}
input, select {
  width: 100%;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: auto;
}
